.projects .row .item:nth-child(1) {
    background: url(../dwi_images_project/pro\ \(1\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(2) {
    background: url(../dwi_images_project/pro\ \(2\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(3) {
    background: url(../dwi_images_project/pro\ \(3\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(4) {
    background: url(../dwi_images_project/pro\ \(4\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(5) {
    background: url(../dwi_images_project/pro\ \(5\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(6) {
    background: url(../dwi_images_project/pro\ \(6\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(7) {
    background: url(../dwi_images_project/pro\ \(7\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(8) {
    background: url(../dwi_images_project/pro\ \(8\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(9) {
    background: url(../dwi_images_project/pro\ \(9\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(10) {
    background: url(../dwi_images_project/pro\ \(10\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(11) {
    background: url(../dwi_images_project/pro\ \(11\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(12) {
    background: url(../dwi_images_project/pro\ \(12\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(13) {
    background: url(../dwi_images_project/pro\ \(13\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(14) {
    background: url(../dwi_images_project/pro\ \(14\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(15) {
    background: url(../dwi_images_project/pro\ \(15\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(16) {
    background: url(../dwi_images_project/pro\ \(16\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(17) {
    background: url(../dwi_images_project/pro\ \(17\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(18) {
    background: url(../dwi_images_project/pro\ \(18\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(19) {
    background: url(../dwi_images_project/pro\ \(19\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(20) {
    background: url(../dwi_images_project/pro\ \(20\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(21) {
    background: url(../dwi_images_project/pro\ \(21\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(22) {
    background: url(../dwi_images_project/pro\ \(22\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(23) {
    background: url(../dwi_images_project/pro\ \(23\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(24) {
    background: url(../dwi_images_project/pro\ \(24\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(25) {
    background: url(../dwi_images_project/pro\ \(25\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(26) {
    background: url(../dwi_images_project/pro\ \(26\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(27) {
    background: url(../dwi_images_project/pro\ \(27\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(28) {
    background: url(../dwi_images_project/pro\ \(28\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(29) {
    background: url(../dwi_images_project/pro\ \(29\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(30) {
    background: url(../dwi_images_project/pro\ \(30\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(31) {
    background: url(../dwi_images_project/pro\ \(31\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(32) {
    background: url(../dwi_images_project/pro\ \(32\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(33) {
    background: url(../dwi_images_project/pro\ \(33\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(34) {
    background: url(../dwi_images_project/pro\ \(34\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(35) {
    background: url(../dwi_images_project/pro\ \(35\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(36) {
    background: url(../dwi_images_project/pro\ \(36\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(37) {
    background: url(../dwi_images_project/pro\ \(37\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(38) {
    background: url(../dwi_images_project/pro\ \(38\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(39) {
    background: url(../dwi_images_project/pro\ \(39\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(40) {
    background: url(../dwi_images_project/pro\ \(40\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(41) {
    background: url(../dwi_images_project/pro\ \(41\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(42) {
    background: url(../dwi_images_project/pro\ \(42\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(43) {
    background: url(../dwi_images_project/pro\ \(43\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(44) {
    background: url(../dwi_images_project/pro\ \(44\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(45) {
    background: url(../dwi_images_project/pro\ \(45\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(46) {
    background: url(../dwi_images_project/pro\ \(46\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(47) {
    background: url(../dwi_images_project/pro\ \(47\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(48) {
    background: url(../dwi_images_project/pro\ \(48\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(49) {
    background: url(../dwi_images_project/pro\ \(49\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(50) {
    background: url(../dwi_images_project/pro\ \(50\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(51) {
    background: url(../dwi_images_project/pro\ \(51\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(52) {
    background: url(../dwi_images_project/pro\ \(52\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(53) {
    background: url(../dwi_images_project/pro\ \(53\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(54) {
    background: url(../dwi_images_project/pro\ \(54\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(55) {
    background: url(../dwi_images_project/pro\ \(55\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(56) {
    background: url(../dwi_images_project/pro\ \(56\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(57) {
    background: url(../dwi_images_project/pro\ \(57\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(58) {
    background: url(../dwi_images_project/pro\ \(58\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(59) {
    background: url(../dwi_images_project/pro\ \(59\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(60) {
    background: url(../dwi_images_project/pro\ \(60\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(61) {
    background: url(../dwi_images_project/pro\ \(61\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(62) {
    background: url(../dwi_images_project/pro\ \(62\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(63) {
    background: url(../dwi_images_project/pro\ \(63\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(64) {
    background: url(../dwi_images_project/pro\ \(64\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(65) {
    background: url(../dwi_images_project/pro\ \(65\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(66) {
    background: url(../dwi_images_project/pro\ \(66\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(67) {
    background: url(../dwi_images_project/pro\ \(67\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(68) {
    background: url(../dwi_images_project/pro\ \(68\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(69) {
    background: url(../dwi_images_project/pro\ \(69\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(70) {
    background: url(../dwi_images_project/pro\ \(70\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(71) {
    background: url(../dwi_images_project/pro\ \(71\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(72) {
    background: url(../dwi_images_project/pro\ \(72\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(73) {
    background: url(../dwi_images_project/pro\ \(73\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(74) {
    background: url(../dwi_images_project/pro\ \(74\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(75) {
    background: url(../dwi_images_project/pro\ \(75\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(76) {
    background: url(../dwi_images_project/pro\ \(76\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(77) {
    background: url(../dwi_images_project/pro\ \(77\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(78) {
    background: url(../dwi_images_project/pro\ \(78\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(79) {
    background: url(../dwi_images_project/pro\ \(79\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(80) {
    background: url(../dwi_images_project/pro\ \(80\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(81) {
    background: url(../dwi_images_project/pro\ \(81\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(82) {
    background: url(../dwi_images_project/pro\ \(82\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(83) {
    background: url(../dwi_images_project/pro\ \(83\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(84) {
    background: url(../dwi_images_project/pro\ \(84\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(85) {
    background: url(../dwi_images_project/pro\ \(85\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(86) {
    background: url(../dwi_images_project/pro\ \(86\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(87) {
    background: url(../dwi_images_project/pro\ \(87\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(88) {
    background: url(../dwi_images_project/pro\ \(88\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(89) {
    background: url(../dwi_images_project/pro\ \(89\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(90) {
    background: url(../dwi_images_project/pro\ \(90\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(91) {
    background: url(../dwi_images_project/pro\ \(91\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(92) {
    background: url(../dwi_images_project/pro\ \(92\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(93) {
    background: url(../dwi_images_project/pro\ \(93\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(94) {
    background: url(../dwi_images_project/pro\ \(94\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(95) {
    background: url(../dwi_images_project/pro\ \(95\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(96) {
    background: url(../dwi_images_project/pro\ \(96\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(97) {
    background: url(../dwi_images_project/pro\ \(97\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(98) {
    background: url(../dwi_images_project/pro\ \(98\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(99) {
    background: url(../dwi_images_project/pro\ \(99\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(100) {
    background: url(../dwi_images_project/pro\ \(100\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(101) {
    background: url(../dwi_images_project/pro\ \(101\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(102) {
    background: url(../dwi_images_project/pro\ \(102\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(103) {
    background: url(../dwi_images_project/pro\ \(103\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(104) {
    background: url(../dwi_images_project/pro\ \(104\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(105) {
    background: url(../dwi_images_project/pro\ \(105\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(106) {
    background: url(../dwi_images_project/pro\ \(106\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(107) {
    background: url(../dwi_images_project/pro\ \(107\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(108) {
    background: url(../dwi_images_project/pro\ \(108\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(109) {
    background: url(../dwi_images_project/pro\ \(109\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(110) {
    background: url(../dwi_images_project/pro\ \(110\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(111) {
    background: url(../dwi_images_project/pro\ \(111\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(112) {
    background: url(../dwi_images_project/pro\ \(112\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(113) {
    background: url(../dwi_images_project/pro\ \(113\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(114) {
    background: url(../dwi_images_project/pro\ \(114\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(115) {
    background: url(../dwi_images_project/pro\ \(115\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(116) {
    background: url(../dwi_images_project/pro\ \(116\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(117) {
    background: url(../dwi_images_project/pro\ \(117\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(118) {
    background: url(../dwi_images_project/pro\ \(118\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(119) {
    background: url(../dwi_images_project/pro\ \(119\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(120) {
    background: url(../dwi_images_project/pro\ \(120\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(121) {
    background: url(../dwi_images_project/pro\ \(121\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(122) {
    background: url(../dwi_images_project/pro\ \(122\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(123) {
    background: url(../dwi_images_project/pro\ \(123\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(124) {
    background: url(../dwi_images_project/pro\ \(124\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(125) {
    background: url(../dwi_images_project/pro\ \(125\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(126) {
    background: url(../dwi_images_project/pro\ \(126\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(127) {
    background: url(../dwi_images_project/pro\ \(127\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(128) {
    background: url(../dwi_images_project/pro\ \(128\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(129) {
    background: url(../dwi_images_project/pro\ \(129\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(130) {
    background: url(../dwi_images_project/pro\ \(130\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(131) {
    background: url(../dwi_images_project/pro\ \(131\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(132) {
    background: url(../dwi_images_project/pro\ \(132\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(133) {
    background: url(../dwi_images_project/pro\ \(133\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(134) {
    background: url(../dwi_images_project/pro\ \(134\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(135) {
    background: url(../dwi_images_project/pro\ \(135\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(136) {
    background: url(../dwi_images_project/pro\ \(136\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(137) {
    background: url(../dwi_images_project/pro\ \(137\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(138) {
    background: url(../dwi_images_project/pro\ \(138\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(139) {
    background: url(../dwi_images_project/pro\ \(139\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(140) {
    background: url(../dwi_images_project/pro\ \(140\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(141) {
    background: url(../dwi_images_project/pro\ \(141\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(142) {
    background: url(../dwi_images_project/pro\ \(142\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(143) {
    background: url(../dwi_images_project/pro\ \(143\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(144) {
    background: url(../dwi_images_project/pro\ \(144\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(145) {
    background: url(../dwi_images_project/pro\ \(145\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(146) {
    background: url(../dwi_images_project/pro\ \(146\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(147) {
    background: url(../dwi_images_project/pro\ \(147\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(148) {
    background: url(../dwi_images_project/pro\ \(148\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(149) {
    background: url(../dwi_images_project/pro\ \(149\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(150) {
    background: url(../dwi_images_project/pro\ \(150\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(151) {
    background: url(../dwi_images_project/pro\ \(151\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(152) {
    background: url(../dwi_images_project/pro\ \(152\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(153) {
    background: url(../dwi_images_project/pro\ \(153\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(154) {
    background: url(../dwi_images_project/pro\ \(154\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(155) {
    background: url(../dwi_images_project/pro\ \(155\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(156) {
    background: url(../dwi_images_project/pro\ \(156\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(157) {
    background: url(../dwi_images_project/pro\ \(157\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(158) {
    background: url(../dwi_images_project/pro\ \(158\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(159) {
    background: url(../dwi_images_project/pro\ \(159\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(160) {
    background: url(../dwi_images_project/pro\ \(160\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(161) {
    background: url(../dwi_images_project/pro\ \(161\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(162) {
    background: url(../dwi_images_project/pro\ \(162\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(163) {
    background: url(../dwi_images_project/pro\ \(163\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(164) {
    background: url(../dwi_images_project/pro\ \(164\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(165) {
    background: url(../dwi_images_project/pro\ \(165\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(166) {
    background: url(../dwi_images_project/pro\ \(166\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(167) {
    background: url(../dwi_images_project/pro\ \(167\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(168) {
    background: url(../dwi_images_project/pro\ \(168\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(169) {
    background: url(../dwi_images_project/pro\ \(169\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(170) {
    background: url(../dwi_images_project/pro\ \(170\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(171) {
    background: url(../dwi_images_project/pro\ \(171\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(172) {
    background: url(../dwi_images_project/pro\ \(172\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(173) {
    background: url(../dwi_images_project/pro\ \(173\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(174) {
    background: url(../dwi_images_project/pro\ \(174\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(175) {
    background: url(../dwi_images_project/pro\ \(175\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(176) {
    background: url(../dwi_images_project/pro\ \(176\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(177) {
    background: url(../dwi_images_project/pro\ \(177\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(178) {
    background: url(../dwi_images_project/pro\ \(178\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(179) {
    background: url(../dwi_images_project/pro\ \(179\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(180) {
    background: url(../dwi_images_project/pro\ \(180\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(181) {
    background: url(../dwi_images_project/pro\ \(181\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(182) {
    background: url(../dwi_images_project/pro\ \(182\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(183) {
    background: url(../dwi_images_project/pro\ \(183\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(184) {
    background: url(../dwi_images_project/pro\ \(184\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(185) {
    background: url(../dwi_images_project/pro\ \(185\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(186) {
    background: url(../dwi_images_project/pro\ \(186\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(187) {
    background: url(../dwi_images_project/pro\ \(187\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(188) {
    background: url(../dwi_images_project/pro\ \(188\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(189) {
    background: url(../dwi_images_project/pro\ \(189\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(190) {
    background: url(../dwi_images_project/pro\ \(190\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(191) {
    background: url(../dwi_images_project/pro\ \(191\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(192) {
    background: url(../dwi_images_project/pro\ \(192\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(193) {
    background: url(../dwi_images_project/pro\ \(193\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(194) {
    background: url(../dwi_images_project/pro\ \(194\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(195) {
    background: url(../dwi_images_project/pro\ \(195\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(196) {
    background: url(../dwi_images_project/pro\ \(196\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(197) {
    background: url(../dwi_images_project/pro\ \(197\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(198) {
    background: url(../dwi_images_project/pro\ \(198\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(199) {
    background: url(../dwi_images_project/pro\ \(199\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(200) {
    background: url(../dwi_images_project/pro\ \(200\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(201) {
    background: url(../dwi_images_project/pro\ \(201\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(202) {
    background: url(../dwi_images_project/pro\ \(202\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(203) {
    background: url(../dwi_images_project/pro\ \(203\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(204) {
    background: url(../dwi_images_project/pro\ \(204\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(205) {
    background: url(../dwi_images_project/pro\ \(205\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(206) {
    background: url(../dwi_images_project/pro\ \(206\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(207) {
    background: url(../dwi_images_project/pro\ \(207\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(208) {
    background: url(../dwi_images_project/pro\ \(208\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(209) {
    background: url(../dwi_images_project/pro\ \(209\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(210) {
    background: url(../dwi_images_project/pro\ \(210\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(211) {
    background: url(../dwi_images_project/pro\ \(211\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(212) {
    background: url(../dwi_images_project/pro\ \(212\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(213) {
    background: url(../dwi_images_project/pro\ \(213\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(214) {
    background: url(../dwi_images_project/pro\ \(214\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(215) {
    background: url(../dwi_images_project/pro\ \(215\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(216) {
    background: url(../dwi_images_project/pro\ \(216\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(217) {
    background: url(../dwi_images_project/pro\ \(217\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(218) {
    background: url(../dwi_images_project/pro\ \(218\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(219) {
    background: url(../dwi_images_project/pro\ \(219\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(220) {
    background: url(../dwi_images_project/pro\ \(220\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(221) {
    background: url(../dwi_images_project/pro\ \(221\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(222) {
    background: url(../dwi_images_project/pro\ \(222\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(223) {
    background: url(../dwi_images_project/pro\ \(223\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(224) {
    background: url(../dwi_images_project/pro\ \(224\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(225) {
    background: url(../dwi_images_project/pro\ \(225\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(226) {
    background: url(../dwi_images_project/pro\ \(226\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(227) {
    background: url(../dwi_images_project/pro\ \(227\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(228) {
    background: url(../dwi_images_project/pro\ \(228\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(229) {
    background: url(../dwi_images_project/pro\ \(229\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(230) {
    background: url(../dwi_images_project/pro\ \(230\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(231) {
    background: url(../dwi_images_project/pro\ \(231\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(232) {
    background: url(../dwi_images_project/pro\ \(232\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(233) {
    background: url(../dwi_images_project/pro\ \(233\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(234) {
    background: url(../dwi_images_project/pro\ \(234\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(235) {
    background: url(../dwi_images_project/pro\ \(235\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(236) {
    background: url(../dwi_images_project/pro\ \(236\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(237) {
    background: url(../dwi_images_project/pro\ \(237\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(238) {
    background: url(../dwi_images_project/pro\ \(238\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(239) {
    background: url(../dwi_images_project/pro\ \(239\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(240) {
    background: url(../dwi_images_project/pro\ \(240\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(241) {
    background: url(../dwi_images_project/pro\ \(241\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(242) {
    background: url(../dwi_images_project/pro\ \(242\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(243) {
    background: url(../dwi_images_project/pro\ \(243\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(244) {
    background: url(../dwi_images_project/pro\ \(244\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(245) {
    background: url(../dwi_images_project/pro\ \(245\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(246) {
    background: url(../dwi_images_project/pro\ \(246\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(247) {
    background: url(../dwi_images_project/pro\ \(247\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(248) {
    background: url(../dwi_images_project/pro\ \(248\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(249) {
    background: url(../dwi_images_project/pro\ \(249\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(250) {
    background: url(../dwi_images_project/pro\ \(250\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(251) {
    background: url(../dwi_images_project/pro\ \(251\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(252) {
    background: url(../dwi_images_project/pro\ \(252\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(253) {
    background: url(../dwi_images_project/pro\ \(253\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(254) {
    background: url(../dwi_images_project/pro\ \(254\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(255) {
    background: url(../dwi_images_project/pro\ \(255\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(256) {
    background: url(../dwi_images_project/pro\ \(256\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(257) {
    background: url(../dwi_images_project/pro\ \(257\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(258) {
    background: url(../dwi_images_project/pro\ \(258\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(259) {
    background: url(../dwi_images_project/pro\ \(259\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(260) {
    background: url(../dwi_images_project/pro\ \(260\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(261) {
    background: url(../dwi_images_project/pro\ \(261\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(262) {
    background: url(../dwi_images_project/pro\ \(262\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(263) {
    background: url(../dwi_images_project/pro\ \(263\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(264) {
    background: url(../dwi_images_project/pro\ \(264\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(265) {
    background: url(../dwi_images_project/pro\ \(265\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(266) {
    background: url(../dwi_images_project/pro\ \(266\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(267) {
    background: url(../dwi_images_project/pro\ \(267\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(268) {
    background: url(../dwi_images_project/pro\ \(268\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(269) {
    background: url(../dwi_images_project/pro\ \(269\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(270) {
    background: url(../dwi_images_project/pro\ \(270\).png) center/cover no-repeat;
}
.projects .row .item:nth-child(271) {
    background: url(../dwi_images_project/pro\ \(271\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(272) {
    background: url(../dwi_images_project/pro\ \(272\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(273) {
    background: url(../dwi_images_project/pro\ \(273\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(274) {
    background: url(../dwi_images_project/pro\ \(274\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(275) {
    background: url(../dwi_images_project/pro\ \(275\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(276) {
    background: url(../dwi_images_project/pro\ \(276\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(277) {
    background: url(../dwi_images_project/pro\ \(277\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(278) {
    background: url(../dwi_images_project/pro\ \(278\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(279) {
    background: url(../dwi_images_project/pro\ \(279\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(280) {
    background: url(../dwi_images_project/pro\ \(280\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(281) {
    background: url(../dwi_images_project/pro\ \(281\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(282) {
    background: url(../dwi_images_project/pro\ \(282\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(283) {
    background: url(../dwi_images_project/pro\ \(283\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(284) {
    background: url(../dwi_images_project/pro\ \(284\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(285) {
    background: url(../dwi_images_project/pro\ \(285\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(286) {
    background: url(../dwi_images_project/pro\ \(286\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(287) {
    background: url(../dwi_images_project/pro\ \(287\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(288) {
    background: url(../dwi_images_project/pro\ \(288\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(289) {
    background: url(../dwi_images_project/pro\ \(289\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(290) {
    background: url(../dwi_images_project/pro\ \(290\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(291) {
    background: url(../dwi_images_project/pro\ \(291\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(292) {
    background: url(../dwi_images_project/pro\ \(292\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(293) {
    background: url(../dwi_images_project/pro\ \(293\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(294) {
    background: url(../dwi_images_project/pro\ \(294\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(295) {
    background: url(../dwi_images_project/pro\ \(295\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(296) {
    background: url(../dwi_images_project/pro\ \(296\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(297) {
    background: url(../dwi_images_project/pro\ \(297\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(298) {
    background: url(../dwi_images_project/pro\ \(298\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(299) {
    background: url(../dwi_images_project/pro\ \(299\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(300) {
    background: url(../dwi_images_project/pro\ \(300\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(301) {
    background: url(../dwi_images_project/pro\ \(301\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(302) {
    background: url(../dwi_images_project/pro\ \(302\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(303) {
    background: url(../dwi_images_project/pro\ \(303\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(304) {
    background: url(../dwi_images_project/pro\ \(304\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(305) {
    background: url(../dwi_images_project/pro\ \(305\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(306) {
    background: url(../dwi_images_project/pro\ \(306\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(307) {
    background: url(../dwi_images_project/pro\ \(307\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(308) {
    background: url(../dwi_images_project/pro\ \(308\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(309) {
    background: url(../dwi_images_project/pro\ \(309\).png) center/cover no-repeat;
}

.projects .row .item:nth-child(310) {
    background: url(../dwi_images_project/pro\ \(310\).png) center/cover no-repeat;
}